@using cst247_Minesweeper.Models
@model  Tuple<GameModel, AjaxOptions>


<div class="gameInfo">
    <div>
        <h4>Bombs Left</h4>
        <p>@Model.Item1.Board.Flags</p>
    </div>

    <div>
        <h4>Time</h4>
        <p>@Model.Item1.Stopwatch.Elapsed.ToString()</p>
    </div>
</div>

<div class="flex-container">
    @using (Ajax.BeginForm("OnReveal", "Game", Model.Item2))
    {
        for (int y = 0; y < Model.Item1.Board.Size; y++)
        {
            for (int x = 0; x < Model.Item1.Board.Size; x++)
            {
                string str = y + "|" + x;
                if (!Model.Item1.Board.TheGrid[y, x].Revealed)
                {
                    <button class="mine" type="submit" name="coords" value=@str>
                        <p style="color: rgb(37, 39, 41)">_</p>
                    </button>
                }
                else
                {
                    <button class="mine" type="submit" name="coords" value=@str disabled>
                        @{ if (Model.Item1.Board.TheGrid[y, x].Revealed && !Model.Item1.Board.TheGrid[y, x].Bomb)
                            {
                                <p>@Model.Item1.Board.TheGrid[y, x].Neighbors.ToString()</p>
                            }
                            else if (Model.Item1.Board.TheGrid[y, x].Bomb)
                            {
                                <p>B</p>
                            }
                            else
                            {
                                <p>U</p>
                            }}

                    </button>
                }
            }
            <br />
        }
    }
</div>
