@model cst247_Minesweeper.Models.GameModel

<div class="gameInfo">
    <div>
        <h4>Bombs Left</h4>
        <p>@Model.Board.Flags</p>
    </div>

    <div>
        <h4>Time</h4>
        <p>@Model.Stopwatch.Elapsed.ToString()</p>
    </div>
</div>

<div class="flex-container">
    @for (int y = 0; y < Model.Board.Size; y++)
    {
        for (int x = 0; x < Model.Board.Size; x++)
        {
            string str = y + "|" + x;
            if (!Model.Board.TheGrid[y, x].Revealed)
            {
                <button class="mine" type="submit" name="coords" value=@str>
                    <p>_</p>
                </button>
            }
            else
            {
                <button class="mine" type="submit" name="coords" value=@str disabled>
                    @{ if (Model.Board.TheGrid[y, x].Revealed && !Model.Board.TheGrid[y, x].Bomb)
                        {
                            <p>@Model.Board.TheGrid[y, x].Neighbors.ToString()</p>
                        }
                        else if (Model.Board.TheGrid[y, x].Bomb)
                        {
                            <p>B</p>
                        }
                        else
                        {
                            <p>U</p>
                        }}

                </button>
            }
        }
        <br />
    }
</div>
