@model cst247_Minesweeper.Models.GameModel

@{
    ViewBag.Title = "Minesweeper";
}

<!DOCTYPE html>

<html>
<body>
    <div class="flex-container">
        @using (Html.BeginForm("onReveal", "Game", FormMethod.Post))
        {
            for (int y = 0; y < Model.Board.Size; y++)
            {
                for (int x = 0; x < Model.Board.Size; x++)
                {
                    string str = y + "|" + x;
                    if (!Model.Board.TheGrid[y, x].Revealed)
                    {
                        <button class="mine" type="submit" name="coords" value=@str>
                            @{ if (Model.Board.TheGrid[y, x].Revealed && !Model.Board.TheGrid[y, x].Bomb)
                                {
                                    <p>@Model.Board.TheGrid[y, x].Neighbors.ToString()</p>
                                }
                                else if (Model.Board.TheGrid[y, x].Bomb)
                                {
                                    <p>B</p>
                                }
                                else
                                {
                                    <p>U</p>
                                }}

                        </button>
                    }
                    else
                    {
                        <button class="mine" type="submit" name="coords" value=@str disabled>
                            @{ if (Model.Board.TheGrid[y, x].Revealed && !Model.Board.TheGrid[y, x].Bomb)
                                {
                                    <p>@Model.Board.TheGrid[y, x].Neighbors.ToString()</p>
                                }
                                else if (Model.Board.TheGrid[y, x].Bomb)
                                {
                                    <p>B</p>
                                }
                                else
                                {
                                    <p>U</p>
                                }}

                        </button>
                    }
                }
                <br />
            }
        }


    </div>
</body>
</html>
