@using cst247_Minesweeper.Models
@model cst247_Minesweeper.Models.GameModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Minesweeper";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "game"
    };
}


<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    
</head>
<body>
    <div style="width:400px;">
        <div style="float: left; width: 130px">
            @using (Html.BeginForm("OnSaveGame", "Game"))
            {
                <button class="btn btn-default" type="submit">
                    Save Gane
                </button>
            }
        </div>
        <div style="float: right; width: 225px">
            @using (Html.BeginForm("OnNewGame", "Game"))
            {
                <button class="btn btn-default" type="submit">
                    New Gane
                </button>
            }
        </div>
    </div>
    <br />
    <br />
    <div class="game" id="game">
        @{
            Tuple<GameModel, AjaxOptions> tuple = new Tuple<GameModel, AjaxOptions>(Model, ajaxOptions);
        }

        @Html.Partial("~/Views/Game/_boardInfo.cshtml", tuple)

    </div>
</body>
</html>
