@model cst247_Minesweeper.Models.GameModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Minesweeper";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "game"
    };
}


<html>
<body>
    <div id="game">
        @using (Ajax.BeginForm("onReveal", "Game", ajaxOptions))
        {
            @Html.Partial("~/Views/Game/_boardInfo.cshtml", Model)
        }
    </div>
</body>
</html>
