@using cst247_Minesweeper.Models
@model cst247_Minesweeper.Models.GameModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Minesweeper";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "game"
    };
}


<html>
<body>
    <div>
        @using (Html.BeginForm("OnSaveGame", "Game"))
        {
            <button class="save" type="submit">
                Save Gane
            </button>
        }
    </div>
    <div id="game">
        @{
            Tuple<GameModel, AjaxOptions> tuple = new Tuple<GameModel, AjaxOptions>(Model, ajaxOptions);
        }

        @Html.Partial("~/Views/Game/_boardInfo.cshtml", tuple)

    </div>
</body>
</html>
