@using cst247_Minesweeper.Models
@model IEnumerable<ScoreModel>

@{
    ViewBag.Title = "High Scores";
}

<h2>High Scores</h2>

<div>
    <table>
        <tr>
            <th>Score</th>
            <th>Difficulty</th>
            <th>Username</th>
        </tr>
        @foreach (var score in Model)
        {
            <tr>
                <th>@score.Score</th>
                <th>@score.Difficulty</th>
                <th>@score.UserName</th>
            </tr>
        }
    </table>
</div>