body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mine {
    background-color: rgb(37, 39, 41);
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 65px;
    width: 65px;
    margin: 1px;
    line-height: 53px;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgb(24, 26, 27);
}

body {
    color: rgb(214, 211, 205);
    background-color: rgb(24, 26, 27);
}
