@model cst247_Minesweeper.Models.UserModel
@{
    ViewBag.Title = "Home Page";
}
   
 <div>
        <h4>Home Page</h4>
        <hr />
        <dl class="dl-horizontal">
          
            <dd>
              Welcome  @Html.DisplayFor(model => model.UserName)!
            </dd>

        </dl>
    </div>